<div class="barEchart">
  <div class="lefttopSpan positionSpan"></div>
  <div class="righttopSpan positionSpan"></div>
  <div class="leftbottomSpan positionSpan"></div>
  <div class="rightbottomSpan positionSpan"></div>
  <div class="header">
    <div>
      {{ title }}
    </div>
    <div>
      <Select defaultValue="2019" style='width: 120;background: rgba(83,208,255,0.46);border: 0px solid rgba(83,208,255,0.46);color: #ffffff;' >
        <Option value="2019">2019</Option>
      </Select>
      </div>
    <div class="dwPos">单位：{{ dw }}</div>
  </div>
  <div echarts [options]="options"></div>
</div>
