<div>
  <div class="title">河南省物流业景气指数监测</div>
</div>
<div class="echartBox">
  <div class="left">
    <app-xy-echart [ElementsByID]='"xyEchart1"' [title]="'物流服务价格指数'" [color]="'rgba(71, 217, 208'" [value]="[
        57.5,
        50.8,
        52.34,
        52.17,
        48.46,
        47.54,
        47.5,
        50.6,
        52.76,
        54.92,
        54.0
      ]"></app-xy-echart>
    <app-xy-echart [ElementsByID]='"xyEchart2"' [title]="'主营业务利润指数'" [color]="'rgba(220, 192, 79'" [value]="[
        56,
        43.3,
        60.94,
        54.35,
        53.85,
        49.18,
        48.18,
        50.1,
        51.14,
        52.92,
        55.7
      ]"></app-xy-echart>
    <app-xy-echart [title]="'主营业务成本指数'" [color]="'rgba(232, 142, 87'" [value]="[
        61.2,
        62.2,
        55.47,
        55.07,
        56.15,
        50.82,
        50.83,
        54.9,
        57.94,
        59.02,
        61.4
      ]"></app-xy-echart>
  </div>
  <div class="center">
    <app-echartsindex></app-echartsindex>
  </div>
  <div class="right">
    <app-xy-echart [title]="'业务总量指数走势图指数'" [color]="'rgba(217, 96, 133'" [value]="[
        58.7,
        49.6,
        57.6,
        58.7,
        59.23,
        55.74,
        52.83,
        53.6,
        57.36,
        58.3,
        61.1
      ]"></app-xy-echart>
    <app-xy-echart [title]="'新订单(客户需求)指数走势图指数'" [color]="'rgba(76, 156, 255'" [value]="[
        59,
        60,
        69.53,
        60.87,
        56.92,
        54.92,
        49.5,
        53.7,
        58.52,
        62.3,
        69.3
      ]"></app-xy-echart>
    <app-xy-echart [title]="'平均库存量指数'" [color]="'rgba(223, 229, 66'" [value]="[
        52.7,
        41.2,
        55.26,
        51.72,
        50.88,
        55.66,
        50.91,
        54.5,
        58.11,
        54.9,
        61.0
      ]"></app-xy-echart>
  </div>
</div>
<div class="bottomEchartBox">
  <div class="left">
    <app-xy-echart  [title]="'固定资产投资完成额指数'" [color]="'rgba(65,103,214'" [value]="[
        50,
        45.6,
        58.49,
        58.04,
        53.77,
        53.19,
        48.96,
        50.2,
        53.14,
        55.56,
        57.6
      ]"></app-xy-echart>
  </div>
  <div class="center">
    <app-xy-echart [title]="'河南省物流业景气指数(LPI)'" [color]="'rgba(0, 207, 238'" [value]="[
        58.7,
        49.6,
        57.6,
        58.7,
        56.12,
        55.74,
        52.83,
        53.6,
        57.36,
        58.3,
        61.1
      ]"></app-xy-echart>
  </div>
  <div class="right">
    <app-xy-echart  [title]="'库存周转次数指数'" [color]="'rgba(147,61,228'" [value]="[
        64.6,
        47.3,
        66.38,
        56.9,
        57.02,
        56.48,
        48.21,
        53.3,
        58.43,
        55.77,
        63.0
      ]"></app-xy-echart>
  </div>
</div>
<div class="bottomEchartBox">
  <div class="left">
    <app-xy-echart  [title]="'从业人员指数'" [color]="'rgba(100,61,228'" [value]="[
        53,
        47.5,
        57.03,
        50,
        50,
        50.82,
        46.67,
        50.6,
        52.38,
        57.38,
        58.8
      ]"></app-xy-echart>
  </div>
  <div class="center1">
    <app-xy-echart  [title]="'业务活动预期指数'" [color]="'rgba(121,204,76'" [value]="[
        53.6,
        66.7,
        69.53,
        64.49,
        60.77,
        55.74,
        62.5,
        64.6,
        65.5,
        69.67,
        63.2
      ]"></app-xy-echart>
  </div>
  <div class="center2">
    <app-xy-echart  [title]="'设备利用率指数'" [color]="'rgba(228,61,61'" [value]="[
        59,
        50,
        65.63,
        63.04,
        56.92,
        54.92,
        49.17,
        52.6,
        56.73,
        61.48,
        64.9
      ]"></app-xy-echart>
  </div>
  <div class="right">
    <app-xy-echart  [title]="'资金周转率指数'" [color]="'rgba(61,228,151'" [value]="[
        59.7,
        50,
        64.06,
        60.14,
        52.31,
        51.64,
        47.5,
        51.9,
        55.14,
        56.56,
        64.0
      ]"></app-xy-echart>
  </div>
</div>