<div id="newechartsIndex">

  <div echarts [options]="optionsMap" id="echartsec" [autoResize]="true"></div>
  <div id="moudelSelect">
    <div class="item"><span class="itemImg1"><span></span></span><span class="itemName">公铁物流枢纽</span></div>
    <div class="item"><span class="itemImg2"><span></span></span><span class="itemName">沿河物流通道</span></div>
    <div class="item"><span class="itemImg3"><span></span></span><span class="itemName">国家物流枢纽</span></div>
    <div class="item"><span class="itemImg4"><span></span></span><span class="itemName">区域物流枢纽</span></div>
  </div>

</div>