<div>
  <div class="title">现代物流运行体系（1133工程）监测</div>
</div>
<div class="echartBox">
  <div class="left">
    <app-bar-echart
      [title]="'铁路运输业务量'"
      [colorKg]="['#0167E8', '#13ACE8']"
      [colorPer]="'rgba(248,81,99'"
      [transKgData]="[833, 679, 859, 819, 851, 865, 915, 963, 921]"
      [transPerData]="[6.1, -2.9, 15.0, 5.5, 4.2, 7.8, 7.2, 15.9, 3.1]"
      [overKgData]="[
        1731079,
        1368249,
        1660287,
        1699154,
        1754442,
        1723739,
        1758733,
        1778395,
        1819880
      ]"
      [overPerData]="[11.2, -3.6, 2.2, 5.0, 2.4, 3.5, 1.6, 0.4, 2.8]"
    >
    </app-bar-echart>
    <app-bar-echart
      [title]="'公路运输业务量'"
      [colorKg]="['#21CFFE', '#6AF1FF']"
      [colorPer]="'rgba(254,132,208'"
      [transKgData]="[
        21289,
        4755,
        18948,
        19820,
        20411,
        20765,
        21282,
        25065,
        28347
      ]"
      [transPerData]="[14.2, -11.2, 25.0, 12.1, 7.9, 1.6, 8.7, 8.8, 8.4]"
      [overKgData]="[
        5430165,
        1437585,
        5200649,
        5023196,
        4797528,
        5835254,
        5295553,
        5680860,
        7069833
      ]"
      [overPerData]="[13.8, -12.2, 23.8, 11.0, 9.8, 9.6, 11.0, 11.1, 8.1]"
    >
    </app-bar-echart>
  </div>
  <div class="center">
    <app-new-echarts></app-new-echarts>
  </div>
  <div class="right">
    <app-bar-echart
      [title]="'水路运输业务量'"
      [colorKg]="['#1242F8', '#54CCFF']"
      [colorPer]="'rgba(215,41,255'"
      [transKgData]="[1210, 1033, 1315, 1390, 1644, 1628, 1617, 1634, 1644]"
      [transPerData]="[11.1, -6.5, 10.1, 16.7, 36.9, 34.3, 35.7, 38.0, 37.4]"
      [overKgData]="[
        850416,
        723101,
        968808,
        954652,
        1149700,
        1153634,
        1141227,
        1161565,
        1173095
      ]"
      [overPerData]="[10.9, -6.3, 14.7, 7.9, 31.1, 29.8, 32.9, 34.7, 33.7]"
    >
    </app-bar-echart>
    <app-bar-echart
      [title]="'航空运输业务量'"
      [colorKg]="['#3ACAFF', '#00F077']"
      [colorPer]="'rgba(255,157,52'"
      [transKgData]="[1.87, 1.04, 1.94, 1.99, 1.84, 1.9, 2.17, 2.29, 2.57]"
      [transPerData]="[-13.0, -30.7, -1.3, -4.3, -9.5, -4.1, 5.4, 12.6, 12.8]"
      [overKgData]="[2741, 1529, 2849, 2694, 2914, 2792, 3179, 3368, 3773]"
      [overPerData]="[-12.3, -30.1, -0.4, -3.5, -8.6, -3.3, 6.6, 13.6, 13.9]"
    >
    </app-bar-echart>
  </div>
</div>
<div class="bottomEchartBox">
  <div class="center">
    <app-bar-echart
      [title]="'1-9月份省直辖市、直管县公路运输量（绝对量）'"
      [barWidth]='35'
      [MonthOrArea]="[
        '郑州',
        '巩义',
        '开封',
        '兰考',
        '洛阳',
        '平顶山',
        '汝州',
        '安阳',
        '滑县',
        '鹤壁',
        '新乡',
        '长垣',
        '焦作',
        '濮阳',
        '许昌',
        '漯河',
        '三门峡',
        '南阳',
        '邓州',
        '商丘',
        '永城',
        '信阳',
        '固始',
        '周口',
        '鹿邑',
        '驻马店',
        '新蔡',
        '济源'
      ]"
      [colorKg]="['#1291FF', '#21FFE7']"
      [transKgData]="[
        21059,
        2999,
        2839,
        1253,
        19133,
        9571,
        782,
        12774,
        1654,
        6758,
        15110,
        1009,
        11891,
        4571,
        7932,
        4885,
        4669,
        14981,
        1233,
        13848,
        2383,
        5622,
        1603,
        11932,
        628,
        11039,
        1529,
        2062
      ]"
      [overKgData]="[
        4948144,
        611002,
        941865,
        257757,
        5995280,
        1993605,
        167754,
        2586872,
        152698,
        1426042,
        3058137,
        154454,
        2168674,
        1681887,
        1692432,
        1266773,
        1457002,
        4644418,
        524339,
        3769419,
        461109,
        1097089,
        467865,
        4549862,
        154728,
        2010356,
        126472,
        482746
      ]"
    >
    </app-bar-echart>
  </div>
</div>


<div class="bottomEchartBox">
  <div class="center">
    <app-bar-echart
      [title]="'1-9月份省直辖市、直管县公路运输量（增速）'"
      [barWidth]='35'
      [MonthOrArea]="[
        '郑州',
        '巩义',
        '开封',
        '兰考',
        '洛阳',
        '平顶山',
        '汝州',
        '安阳',
        '滑县',
        '鹤壁',
        '新乡',
        '长垣',
        '焦作',
        '濮阳',
        '许昌',
        '漯河',
        '三门峡',
        '南阳',
        '邓州',
        '商丘',
        '永城',
        '信阳',
        '固始',
        '周口',
        '鹿邑',
        '驻马店',
        '新蔡',
        '济源'
      ]"
      [colorKg]="['#f9ed69','#ececd5']"

      [transKgData]="[
        18.4,
        17.0,
        -2.3,
        -1.8,
        4.0,
        -2.0,
        -2.0,
        11.2,
        10.4,
        8.3,
        17.1,
        19.2,
        22.8,
        9.4,
        10.7,
        8.4,
        -5.8,
        1.1,
        0.5,
        4.6,
        4.0,
        13.8,
        15.2,
        6.3,
        21.8,
        21.4,
        30.8,
        22.3
      ]"
      [overKgData]="[
        12.3,
        10.7,
        10.9,
        10.8,
        11.0,
        10.9,
        10.4,
        11.0,
        10.5,
        10.5,
        11.0,
        11.1,
        11.1,
        11.0,
        9.8,
        9.5,
        11.0,
        11.2,
        10.0,
        11.0,
        11.4,
        10.5,
        10.2,
        10.1,
        10.3,
        10.9,
        10.1,
        11.0
      ]"
    >
    </app-bar-echart>
  </div>
</div>
