.barEchart {
    // width: 90%;
    height: 313px;
    border: 2px solid #006cc1;
    border-image: -webkit-linear-gradient(#006cc1 20%, #2ED 50%,#006cc1 80%) 20 20;
    border-image: -moz-linear-gradient(#006cc1 20%, #2ED 50%,#006cc1 80%) 20 20;
    border-image: -o-linear-gradient(#006cc1 20%, #2ED 50%,#006cc1 80%) 20 20;
    border-image: linear-gradient(#006cc1 20%, #2ED 50%,#006cc1 80%) 20 20;
    position: relative;
    margin: 15px;
    .positionSpan{
      position: absolute;
      display: inline-block;
      width: 10px;
      height: 10px;
    }
    .lefttopSpan {
      left: -3px;
      top: -3px;
      border-top:3px solid  #2ED;
      border-left: 3px solid  #2ED;;
    }
    .righttopSpan {
      right: -3px;
      top: -3px;
      border-top:3px solid  #2ED;
      border-right: 3px solid  #2ED;;
    }
    .leftbottomSpan {
      left: -3px;
      bottom: -3px;
      border-bottom:3px solid  #2ED;
      border-left: 3px solid  #2ED;;
    }
    .rightbottomSpan {
      right: -3px;
      bottom: -3px;
      border-bottom:3px solid  #2ED;
      border-right: 3px solid  #2ED;;
    }
  
    .header{
      height: 36px;
      // line-height: 30px;
      background-image: linear-gradient(to right, #3053AF , rgba(0,0,0,0));
      margin: 12px;
      display: flex;
      justify-content: space-between;

      >div:nth-child(1){
        margin-left: 10px;
        font-size: 16px;
        padding-top: 6px;
      }
      >div:nth-child(2){
        // margin-right: 10px;
        font-size: 10px;
        padding-top: 6px;
        .tab{
          .leftTab,.rightTab,.centerTab{
            display: inline-block;
            background: #0C3E68;
            color:#ffffff ;
            padding: 3px 5px;
            // border-radius: 3px;
            margin-left: 2px;
            cursor: pointer;
          }
          .active{
            background: #21C1E6;
          }
        }

      }
    }
  }
  